{
  "KS_CAPTAIN_OWNER_CODE": "",
  "KS_CAPTAIN_PASSWORD": "",
  "KS_CAPTAIN_PHONE": "",
  "KS_CAPTAIN_USER_ID": "",
  "KS_HMAC_SECRET": "",
  "KS_MCN_API_BASE": "",
  "KS_MCN_MYSQL_DB": "",
  "KS_MCN_MYSQL_HOST": "",
  "KS_MCN_MYSQL_PASSWORD": "",
  "KS_MCN_MYSQL_PORT": "",
  "KS_MCN_MYSQL_USER": "",
  "KS_MCN_RESPONSE_SECRET": "",
  "KS_MCN_SIG3_URL": ""
}